@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #9b9bb4 0%, #5d587a 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
form{
    margin-top: 2rem;
}

input {
    background-color: #b2b2b2;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 1 rem;
    width: 400px;
}

input::placeholder {
    color: #393939;
}

input:focus {
    outline: none;
}

.card {
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #583493 0%, #4c11ac 100%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    max-width: 800px;
}

.avatar {
    border: 10px solid #40a9b7;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    display: flex;
    flex-direction: row;
    background-color: #1f1f21;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 1.1rem;
    padding: 5rem 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
}





.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    color: white;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    color: white;
    background-color: #4c2885;
}

button {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #4c2885;
    color: white;
    margin-right: 10px;
}

button:disabled {
    background-color: #666;
    color: #ccc;
    cursor: not-allowed;
}



.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
